ssl_cert               = "/tmp/{{ network_name }}/gwcert.pfx"
nodes_cert             = "/tmp/{{ network_name }}/server.crt"
region                 = "{{ region | default("East US") }}"
resource_group_name    = "{% if resource_group_name %}{{ resource_group_name  }}{% else %}{{ default_resource_group_name  }}{% endif %}"
virtual_network        = "{{ tf_prefix }}{{ network_name }}-network"
prefix                 = "{{ tf_prefix }}"
password               = "{{ lookup ('file', '/tmp/' + network_name + '/cert_secret') }}"
balanced_ips           = [{% for node in bootnodelbips.stdout.split('\n') %}"{{ node }}"{{ "," if not loop.last else "" }}{% endfor %}]