terraform {
  backend "gcs" { 
    bucket = "{{ bucket_name }}"
    prefix = "terraform/state"
    {% if google_credentials is defined %}credentials = "{{ google_credentials }}"{% endif %}
    project = "{{ project }}"
    region = "{{ region }}"
  }                                                                                                                
}  
