network_name           = "{{ network_name }}"
environment_name       = "{{ environment_name }}"
bootnode_count         = "{{ bootnode_count }}"
bootnode_lb_count      = "{{ bootnode_balanced_count }}"
validator_count        = "{{ validator_count }}"
ssh_public_key         = "{{ pub_key_store }}"
region                 = "{{ region }}"
admin_username         = "{{ ansible_user }}"
prefix                 = "{{ tf_prefix }}"